:root {
  --color-bg: #DDE8EA;
  --color-text-main: #1C3D41;
  --color-text-header: #2F5C63;
  --color-primary: #C2D6D9;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

.btn--remix {
  font-family: var(--font-family);
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid var(--color-text-main);
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: var(--color-text-main);
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix:hover {
  background-color: var(--color-primary);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
.footer a:not(.btn--remix):visited {
  font-family: var(--font-family);
  font-size: 1.1rem;
  color: var(--color-text-main);
  text-decoration: none;
}
.footer a:hover {
  background: var(--color-primary);
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid var(--color-text-main);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

h2 {
  color: var(--color-text-header);
}

.fileopener {
  cursor: pointer;
  font-weight: bold;
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-text-header);
}
.fileopener:hover {
  border-bottom: 3px solid var(--color-text-header);
}
